<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>projectName</param-name>
    <param-value>QnA</param-value>
  </context-param>

  <listener>
    <listener-class>
      DatabaseConnector
    </listener-class>
  </listener>

  <servlet>
    <servlet-name>PrintDataServlet</servlet-name>
    <servlet-class>PrintDataServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PrintDataServlet</servlet-name>
    <url-pattern>/printdata</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>QuestionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/question</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AnswerServlet</servlet-name>
    <servlet-class>AnswerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AnswerServlet</servlet-name>
    <url-pattern>/answer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>UserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>

</web-app>
